<div class="bg-light-blue-100 shadow-md rounded-lg border-black mx-20 px-5 py-5 mb-10 flex-col items-start justify-center">
  <h2 class="mt-2 ml-2 mr-2 mb-2 text-xl uppercase">Important Notice</h2>
  <div class="border border-gray-400 pb-5 pt-2 rounded-lg">
    <h6 class="mx-2 bold text-lg">GitHub Account Setup</h6>
    <p class="mx-2 pt-3">
      In order to get the backlog for the compeition please ensure you have a GitHub repository setup following these instructions <a href="#" class="bold underline">here</a>
    </p>
  </div>
</div>
