@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* ensure padding and border does not increase height and width of elements */
  box-sizing: inherit; 
}

.grid-rows-auto {
  grid-auto-rows: 1fr;
}

html {
  font-family: monospace;
  @apply text-gray-600;
}

.sink {
  transition: transform .2s;
}

.sink:active {
  transform: translateY(2px) scale(0.95);
}

.h-screen-9 {
  height: 90vh;
}

.h-screen-8 {
  height: 80vh;
}

.h-screen-7 {
  height: 70vh;
}

.h-screen-6 {
  height: 60vh;
}

.h-screen-5 {
  height: 50vh;
}

.h-screen-4 {
  height: 40vh;
}

.h-screen-3 {
  height: 30vh;
}

.h-screen-2 {
  height: 20vh;
}


.flex-vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

