<div class="bg-green-300 flex text-center justify-center items-center pt-5 pb-20 flex-col">
    <app-primary-title [title]="'The Competition'"></app-primary-title>
    <div class="text-center w-3/4 h-3/4 pt-10 lg:w-1/2">
        <p class="mt-5">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis sit hic labore illo dolorum, et sequi
            vitae in dolorem consequuntur atque officia eius dolore modi tenetur itaque neque, ipsum odio?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quae asperiores aliquam quas veniam
            nobis totam alias maiores illo quisquam quibusdam voluptatibus, eos harum quasi animi distinctio ex! Et,
            nesciunt?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A quibusdam ad ipsam quisquam sit nesciunt
            fugit rerum minus optio dignissimos, earum quam in culpa natus iusto officiis nihil. Blanditiis,
            praesentium.
        </p>
    </div>
</div>