<div class="bg-blue-300 flex-vh-center py-24">
    <div class="text-center w-3/4 h-3/4 pt-10">
        <h1 class="uppercase text-4xl">Competition Name</h1>
        <h6 class="mt-2">Level up your C# skills</h6>
        <div class="border-b border-gray-500 my-5"></div>
        <button (click)="goToSignUp()"
            class="bg-gradient-to-r opacity-90 py-2 px-8 rounded-lg text-white from-blue-500 to-blue-700 mt-5 focus:outline-none hover:opacity-100">
            Sign Up
        </button>
    </div>
</div>