

<form class="grid grid-cols-2 gap-5">
    <div class="col-span-full md:col-span-1">
        <label for="forename">Forename</label>
        <input name="forename" required [(ngModel)]="participant.forename" class="w-full box-border rounded-md" id="forename" type="text" placeholder="Joe"/>
    </div>

    <div class="col-span-full md:col-span-1">
        <label for="surname">Surname</label>
        <input name="surname" required [(ngModel)]="participant.surname" class="w-full rounded-md box-border" id="surname" type="text" placeholder="Bloggs"/>
    </div>

    <div class="col-span-full w-full">
        <label for="email">Email</label>
        <input name="email" required email [(ngModel)]="participant.email" (blur)="onLeaveEmail()" class="box-border rounded-md focus:outline-none w-full block" id="email" type="text" placeholder="joe.bloggs@gmail.com"/>
    </div>

    <div *ngIf="error !== ''" class="col-start-1 rounded-md bg-red-500 text-white p-2 flex justify-start items-center">
        <span class="text-xs">{{error}}</span>
    </div>

    <div class="md:col-start-2 md:justify-end flex-grow col-span-full flex">
        <button type="submit" (click)="onAddParticipant()" class="sink rounded-md bg-gray-200 md:py-2 md:px-6"> Add Participant </button>
    </div>

</form>
