<div class="bg-blue-300 flex-vh-center py-24">
    <div class="text-center w-3/4 h-3/4 pt-10">
        <h1 class="uppercase text-4xl">Competition Name</h1>
        <h6 class="mt-2">Level up your C# skills</h6>
        <div class="border-b border-gray-500 my-5"></div>
        <button (click)="goToSignUp(signup)"
            class="bg-gradient-to-r opacity-90 py-2 px-8 rounded-lg text-white from-blue-500 to-blue-700 mt-5 focus:outline-none hover:opacity-100">
            Sign Up
        </button>
    </div>
</div>
<div class="bg-green-300 flex text-center justify-center pt-5 pb-24">
    <div class="text-center w-3/4 h-3/4 pt-10">
        <h1 class="uppercase text-4xl">
            the competition
        </h1>
        <div class="border-b border-gray-500 w-3/4 inline-block"></div>

        <p class="mt-5">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis sit hic labore illo dolorum, et sequi
            vitae in dolorem consequuntur atque officia eius dolore modi tenetur itaque neque, ipsum odio?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quae asperiores aliquam quas veniam
            nobis totam alias maiores illo quisquam quibusdam voluptatibus, eos harum quasi animi distinctio ex! Et,
            nesciunt?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A quibusdam ad ipsam quisquam sit nesciunt
            fugit rerum minus optio dignissimos, earum quam in culpa natus iusto officiis nihil. Blanditiis,
            praesentium.
        </p>
    </div>
</div>

<div class="flex bg-white text-center items-center flex-col pt-5 pb-24">
    <div class="text-center w-3/4 h-3/4 pt-10">
        <h1 class="uppercase text-4xl">
            Sponsors
        </h1>
        <div class="border-b border-gray-500 w-3/4 inline-block"></div>
    </div>
    <div class="grid gap-10 grid-cols-1 sm:grid-cols-2 w-3/4 mt-10">
        <div class="border border-gray-300 shadow-sm rounded-lg h-screen-3">
            <div class="h-3/4 bg-gray-300"></div>
            <div class="h-1/4 flex items-center justify-center">
                <h3 class="text-lg">Sample Company</h3>
            </div>
        </div>
        <div class="border border-gray-300 shadow-sm rounded-lg h-screen-3">
            <div class="h-3/4 bg-gray-300"></div>
            <div class="h-1/4 flex items-center justify-center">
                <h3 class="text-lg">Sample Company</h3>
            </div>
        </div>
        <div class="border border-gray-300 shadow-sm rounded-lg h-screen-3">
            <div class="h-3/4 bg-gray-300"></div>
            <div class="h-1/4 flex items-center justify-center">
                <h3 class="text-lg">Sample Company</h3>
            </div>
        </div>
        <div class="border border-gray-300 shadow-sm rounded-lg h-screen-3">
            <div class="h-3/4 bg-gray-300"></div>
            <div class="h-1/4 flex items-center justify-center">
                <h3 class="text-lg">Sample Company</h3>
            </div>
        </div>
    </div>
</div>

<div class="bg-green-300 flex flex-col text-center items-center pt-5 pb-24">
    <div class="text-center w-3/4 h-3/4 pt-10">
        <h1 class="uppercase text-4xl">
            mentors
        </h1>
        <div class="border-b border-gray-500 w-3/4 inline-block"></div>
    </div>
    <div class="grid gap-4 grid-cols-1 w-2/3 mt-10">
        <div class="border p-5 bg-white border-gray-300 flex justify-center shadow-sm rounded-lg h-screen-3">
            <div class="grid">
                <div class="flex justify-center">
                    <img class="h-32 rounded-full" src="https://images.ctfassets.net/1wryd5vd9xez/4DxzhQY7WFsbtTkoYntq23/a4a04701649e92a929010a6a860b66bf/https___cdn-images-1.medium.com_max_2000_1_Y6l_FDhxOI1AhjL56dHh8g.jpeg"/>
                </div>
                <div class="text-center">
                    <h3>Persons Name</h3>
                </div>
                <div class="flex">
                    <caption>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, eligendi ipsam illo iste, architecto cumque vel magni ipsum fugit, quasi alias non impedit voluptas labore hic quam minus commodi magnam.
                    </caption>
                </div>
            </div>
        </div>
        <div class="border p-5 bg-white border-gray-300 flex justify-center shadow-sm rounded-lg h-screen-3">
            <div class="grid">
                <div class="flex justify-center">
                    <img class="h-32 rounded-full" src="https://images.ctfassets.net/1wryd5vd9xez/4DxzhQY7WFsbtTkoYntq23/a4a04701649e92a929010a6a860b66bf/https___cdn-images-1.medium.com_max_2000_1_Y6l_FDhxOI1AhjL56dHh8g.jpeg"/>
                </div>
                <div class="text-center">
                    <h3>Persons Name</h3>
                </div>
                <div class="flex">
                    <caption>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, eligendi ipsam illo iste, architecto cumque vel magni ipsum fugit, quasi alias non impedit voluptas labore hic quam minus commodi magnam.
                    </caption>
                </div>
            </div>
        </div>
    </div>
</div>

<div #signup class="h-screen-5 bg-yellow-300 flex text-center justify-center pt-5 pb-24">
    <div class="text-center w-3/4 h-3/4 pt-10">
        <h1 class="uppercase text-4xl">
            sign up
        </h1>
        <div class="border-b border-gray-500 w-3/4 inline-block"></div>
    </div>
</div>

<footer class="h-screen-3 bg-purple-300">

</footer>