<div class="bg-light-blue-400 pt-5 pb-24 h-screen-5 flex-col">
    <div class=" bg-light-blue-400 justify-center flex text-center ">
        <app-primary-title [title]="'Sign Up'"></app-primary-title>
    </div>

    <div class="h-full flex justify-center items-center">
        <div class="bg-white rounded-lg h-3/4 w-1/3 mx-7 p-5 flex justify-center">
            <div class="p-5 w-full">
                <label class="uppercase text-lg block ml-2 mb-2" for="teamName">Team Name</label>
                <input (blur)="onLeaveTeamNameBox()" [(ngModel)]="teamName" placeholder="Cool Coders" id="teamName" class="rounded-full focus:outline-none pl-5 h-10 border bg-gray-200 w-full border-light-blue-400 " />
                <span *ngIf="teamNameError" class="text-xs text-red-500 ml-2">{{teamNameError}}</span>
                <br/>
                <button (click)="onSignUp()" class="sink ml-1 mt-5 rounded-lg focus:outline-none bg-light-blue-400 p-2">Next Tell Us Your Team &rarr;</button>
            </div> 
        </div>
    </div>
</div>